! XTerm can set 256 colors by itself:
Xterm.termName: xterm-256color
UXterm.termName: xterm-256color

! Start maximized
xterm*maximized: true

! Alt key sends escape
XTerm.vt100.metaSendsEscape: true
UXTerm.vt100.metaSendsEscape: true

! Use a nice truetype font and size by default... 
xterm*font: -misc-termsyn-medium-r-normal--12-87-100-100-c-70-iso8859-1

! Number of lines to save for scrolling
XTerm.vt100.saveLines: 100000
UXTerm.vt100.saveLines: 100000

! Keyboard Shortcut to fake zoom:
xterm*VT100.Translations: #override \
    Ctrl <Key> minus: smaller-vt-font() \n\
    Ctrl <Key> plus: larger-vt-font()

! Every shell is a login shell by default (for inclusion of all necessary environment variables)
xterm*loginshell: true

! I like a LOT of scrollback...
xterm*savelines: 16384

! double-click to select whole URLs :D
xterm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

! stop output to terminal from jumping down to bottom of scroll again
xterm*scrollTtyOutput: false

! No scrollbar
xterm*ScrollBar: false

! DOS-box colours...
! My citric colors
! special
*.foreground:   #efe0b8
*.background:   #070905
*.cursorColor:  #efe0b8

! black
*.color0:       #070905
*.color8:       #090705

! red
*.color1:       #79ae55
*.color9:       #74d269

! green
*.color2:       #18650e
*.color10:      #36951c

! yellow
*.color3:       #e86935
*.color11:      #d4d22b

! blue
*.color4:       #ddb177
*.color12:      #ffa553

! magenta
*.color5:       #799273
*.color13:      #8cbc81

! cyan
*.color6:       #54c489
*.color14:      #41fdad

! white
*.color7:       #fda92c
*.color15:      #f8fd2c
! NEON ALT
! special
! *.foreground:   #a9ffff
! *.background:   #0b0c11
! *.cursorColor:  #a9ffff

! ! black
! *.color0:       #110b1a
! *.color8:       #facefa

! ! red
! *.color1:       #e693d1
! *.color9:       #9493e6

! ! green
! *.color2:       #66f6eb
! *.color10:      #d666f6

! ! yellow
! *.color3:       #f353f7
! *.color11:      #53a2ff

! ! blue
! *.color4:       #696e93
! *.color12:      #1e3098

! ! magenta
! *.color5:       #d364e9
! *.color13:      #fd28ff

! ! cyan
! *.color6:       #6afac2
! *.color14:      #00ffff

! ! white
! *.color7:       #689c9c
! *.color15:      #a9ffff

