snippet entry "Daily Entry Template" b
= `date +"%d %B %Y"` =

== YESTERDAY ==
- [ ] ${1:Write something}

== TODAY ==
- [ ] ${2:Write something}

== PENDING ==
- ${3:something...}

== NOTES ==
${4}

== PRODUCTIVITY EVAL ==
${5}
endsnippet
