snippet entry "Add diary entry"
= `date +%d` `date +%B` `date +%Y` =

== AYER ==

- $1

== HOY ==
- [ ] $2

== TODO Pendiente ==
- $3

== EVALUACIÓN FINAL DEL DÍA ==
Productividad Overall (1-5): $3
- [ ] P1/P0 Bug
- [ ] Reuniones largas
- [ ] Pair programming
- [ ] Más de una tarea
- [ ] Crear docs
- [ ] Coffee breaks u otras reus de ocio
- [ ] Formación
- [ ] Bloqueo

== NOTAS ==

endsnippet
